<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.trycath.myupdateapklibrary">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".dialogactivity.PromptDialogActivity"
            android:theme="@style/mydialogstyle"
            android:launchMode="singleTask">
        </activity>
        <activity 
            android:name=".dialogactivity.ProgressBarActivity"
            android:theme="@style/mydialogstyle"
            android:launchMode="singleTask">
        </activity>
        <!-- 如果你的app支持android7.0及以上，那么在android apk的时候临时给app授权访问文件的权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider.download"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>

        </provider>
    </application>
</manifest>